<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
<h2>Login</h2>
<form action="/login" method="post">
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Se connecter</button>
</form>

<div th:if="${error}">
    <p style="color:red;">Identifiants incorrects. Veuillez réessayer.</p>
</div>
</body>
</html>
